{% extends "index.html" %}
{% block title %}

{{ blog.title }} | Blog

{% endblock title %}
{% comment %} {% include "components/navbar.html" %} {% endcomment %}


{% block content %}

<style>
    {% comment %} .ck-content h1 {
          font-size: 50px; 
        }
    .ck-content h2 {
          font-size: 30px; 
        }
    .ck-content h3 {
          font-size: 20px; 
        }
    .ck-content ol {
        list-style-type: decimal;
        }
    .ck-content p { 
        font-size: 16px; 
        margin-top: 1em; 
        margin-bottom: 1em 
    } {% endcomment %}
    .ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}
</style>

<section id="blog-content" class="py-12 bg-blue-50">
    <div class="max-w-5xl mx-auto px-4 mt-20 sm:px-6 lg:px-8">
        <!-- Blog Title -->
        <div class="text-center mb-12">
            <h1 class="text-4xl font-bold text-blue-600">{{ blog.title }}</h1>
            <p class="mt-4 text-gray-500">Published on {{ blog.upload_date|date:' M d, Y' }}</p>
            <p class="mt-1 text-gray-500"> <small> By {{ blog.user.get_full_name }}</small></p>
        </div>

        <!-- Blog Content -->
        <div class="prose prose-lg max-w-none text-gray-700 ck-content">
            {% comment %} {{ blog.content }} {% endcomment %}
            {{ blog.content|safe }}
        </div>

        {% comment %} <!-- Navigation Links -->
        <div class="mt-12 flex justify-between items-center">
            {% if previous_blog %}
            <a href="{% url 'blog_content' previous_blog.slug %}" class="text-blue-500 hover:underline flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
                Previous: {{ previous_blog.title }}
            </a>
            {% endif %}
            {% if next_blog %}
            <a href="{% url 'blog_content' next_blog.slug %}" class="text-blue-500 hover:underline flex items-center">
                Next: {{ next_blog.title }}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
            {% endif %}
        </div> {% endcomment %}
    </div>
</section>

{% endblock content %}