{% extends "index.html" %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}

<div class="bg-blue-50 flex items-center justify-center min-h-screen">

    <!-- Login Form Container -->
    <div class="bg-white shadow-md rounded-lg p-8 max-w-sm w-full">
        <h1 class="text-2xl font-bold text-center text-blue-600 mb-6">Reset Your Password</h1>
        
        <!-- Login Form -->
        <form action="#" method="POST">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            <br>
            {% endif %}
            <!-- Username -->   
             {% csrf_token %}
            
            <!-- Password -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" class="mt-1 p-3 w-full border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
            </div>

            <!-- Password -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">re-enter Password</label>
                <input type="password" id="password2" name="re-password" placeholder="Enter your password" class="mt-1 p-3 w-full border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
            </div>
            
            <!-- Submit Button -->
            <button type="submit" class="w-full py-3 px-4 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                Changer Password
            </button>
        </form>
        
        {% comment %} <!-- Additional Links -->
        <div class="mt-6 text-center">
            <p class="text-sm text-gray-600">
                Don't have an account? 
                <a href="{% url "register" %}" class="text-blue-600 hover:underline">Sign up</a>
            </p>
        </div> {% endcomment %}
    </div>

</div>

{% endblock content %}