{% extends "index.html" %}

{% block title %}

Event Attendence | Prerogatory Pointers United University

{% endblock title %}

{% block content %}


    <div class="flex items-center justify-center h-screen">
        {% if submission %}
        <div class="max-w-xl mx-auto my-10 p-5 bg-green-100 text-green-800 border-l-4 border-green-600 rounded-lg shadow-lg">
          <p class="text-xl">{{msg}}</p>
          <h2 class="text-3xl font-bold mb-2">{{student}}</h2>
          </div>
{% else %}

<div class="max-w-xl mx-auto my-10 p-5 bg-red-100 text-red-800 border-l-4 border-red-600 rounded-lg shadow-lg">
  <p class="text-xl">{{msg}}</p>
  {% if student %}
  <h2 class="text-3xl font-bold mb-2">{{student}}</h2>
  {% endif %}
  </div>
      {% endif %}
    </div>

{% endblock content %}