{% extends "index.html" %}


{% block content %}
{% load static %}
<div class="bg-gray-100 font-sans">
    <!-- Header Section -->
    <header class="bg-blue-600 text-white py-6">
      <div class="container mx-auto px-6 text-center">
        <h1 class="text-4xl font-bold">Cherished Memories</h1>
        <p class="mt-2 text-lg">A gallery of moments worth remembering</p>
      </div>
    </header>
  
    <!-- Gallery Section -->
    <section id="memories" class="py-16 bg-blue-50">
   
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
            <h2 class="text-3xl font-bold text-blue-600">Memories</h2>
            <p class="mt-4 text-gray-600">Relive the moments that matter most to you.</p>
            <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for mems in mem %}
                <a href=" {% url 'event_memories_list' mems.event.slug %} ">
                <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    <img src="{{ mems.memory_img.latest.image.url }}" alt="Memory" class="w-full">
                    <div class="p-4">
                        <h3 class="font-bold text-lg">{{mems.memory_title}}</h3>
                        <p class="mt-2 text-gray-600">On {{ mems.event.title }} Event</p>
                        <p class="mt-2 text-gray-600">{{ mems.event.start_date }}</p>
                    </div>
                </div>
            </a>
                {% endfor %}
            </div>
        </div>
    </section>
  
    
  </div>
{% endblock content %}