body {
  margin: 10px;
  background-image: url('../images/background.jpg');
}

h1 {
  font-size: 30px; /* Adjust font size */
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  background-color: #8a49e5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(244, 242, 242, 0.1);
}
h3{
  font-size: 15px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 40px;
  margin-bottom: 20px;
}

.year {
  background-color: white;
  text-align: center;
  align-items: flex-start;
  width: 22%;
  height: 70%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.year .upper {
  width: 100%;
  height: 40%;
}

.icon {
  background-size: 80px 80px;
  background-color: white;
  width: 60px;
  height: 60px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-top: -12%;
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.icon img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.year .upper img {
  width: 100%;
  height: 100%;
}

.year .down {
  width: 100%;
  height: 40%;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(203, 137, 15);
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: darkorange;
}

/* Responsive design */
@media (max-width: 1200px) {
  .year {
      width: 45%;
      margin-bottom: 20px;
  }

  h1 {
      font-size: 30px;
  }
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .year {
      width: 90%;
      margin-bottom: 20px;
  }

  h1 {
      font-size: 24px;
  }

  .icon {
      width: 50px;
      height: 50px;
  }

  .icon img {
      width: 40px;
      height: 40px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 20px;
      padding: 5px;
  }

  .button {
      padding: 8px 12px;
  }

  .container {
      padding: 10px;
      flex-direction: column;
      align-items: center;
  }

  .year {
      width: 100%;
      margin-bottom: 15px;
  }
}
